[ X ] Use of templates
[ X ] Use of database
[ X ] Use of express plugin libraries
[ X ] User registration
[ X ]  - cookies and session
[ X ]  - hashing of passwords
[ X ]  - JSON Web Token
[ X ] Error handling
[   ] User role guards
[ ] Full CRUD (application specific)
[ ]  - list
[ ]  - details 
[ ]  - create
[ ]  - edit
[ ]  - delete 
